h1{
    font: 1em sans-serif;
    color: dimgrey
}
p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



.background {
    display: block;
    position: relative;
    top: 100px;
    z-index: -1;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}
.container {
    position: relative;
    
}
.image2 {
    position: absolute;
    left: 300px;
    top: 635px;
    z-index: 1;
}

.parent {
    position: relative;
    width: 50%;
}

.child {
    position: absolute;
    top: 500px;
    left: 17%;
    max-width: 40%;
    z-index: 2;
}

 .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
  }

  .center2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 30%;
  }

.moving-triangle {
    width: 0;
    height: 0;
    position: absolute;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-bottom: 70px solid rgb(43, 43, 43);
    animation-name: move;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

@keyframes move {
    from {left: 2%;}
    to {left: 20%;}
}
		                
.foreground {
    display: block;
    position: absolute;
    top: 1000px;
    z-index: 1;
    margin-left: 0px;
    margin-right: auto;
    width: 30%;
}